# Dependencies
node_modules

# Nuxt build
.nuxt
.nitro
.cache
.output
dist

# Logs
*.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editors
.vscode
.idea
*.sw?
*.local

# Lock file
package-lock.json

# Coverage
coverage

# Temp
*.tmp
*.temp
